<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeCanFixIt</title>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
    <div class="container">
        <header>
            <nav class="nav-container">
                <div class="logo-container">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/assets/home.svg" class="logo" alt="logo" />
                        <span class="caption">WeCanFixIt</span>
                    </a>
                </div>
                    <div class="navelements-container">
                        <a asp-controller="CarsBrand" asp-action="Index">
                            <img src="~/assets/hammer.svg" class="logo" alt="logo" />
                            <span class="caption">FixIt</span>
                        </a>
                    </div>
                    <div class="navelements-container">
                        <a asp-controller="About" asp-action="Index">
                            <img src="~/assets/info.svg" class="logo" alt="logo" />
                            <span class="caption">Info</span>
                        </a>
                    </div>
            </nav>

        </header>
        <div class="main-container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer>
            <div class="footer box-shadow">
                &copy; 2021 - WeCanFixIt - Kamil Paliński
            </div>
        </footer>
    </div>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)

</body>
</html>
