<div class="text-center">
    <h1>WeCanFixIt</h1>
    <p> <i>
    Aplikacja pomoże ludziom którzy nie posiadają wiedzy technicznej do serwisowania samochodu, jak krok po kroku samodzielnie naprawić swój pojazd.
    Umożliwi wybranie marki pojazdu, następnie będzie lista elementów samochodu tj : Karoseria, zawieszenie , elektronika, elektryka, silnik, skrzynia biegów.
</i></p>
    <h2>PLANY NA PRZYSZŁOSĆ :</h2>
    <ul>
        <li> 1. Dodanie logowanie i rejestracji użytkownika</li>
        <li> 2. Dodanie możliwości tworzenia własnych tutoriali oraz oceny ich przez zarejestrowanych użykowników</li>
        <li> 3. Dodanie wersji mobilnej aplikacji</li>
    </ul>
</div>